@import "utils/reset";
@import "../fonts/stylesheet.css";
@import "modules/header";
@import "modules/hero";
@import "modules/about";
@import "modules/product";
@import "modules/store";
@import "modules/recipes";
@import "modules/stack";
// @import "modules/team";
@import "modules/show_case";
@import "modules/footer";
@import "modules/email";

#preloader_overlay {
  height: 100vh;
  width: 100vw;
  background-color: #222;
  position: fixed;
  z-index: 99999999999999;
}
#preloader {
  color: #fff;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.viewport {
  position: relative;
}
#canvas {
  position: fixed;
  content: "";
  height: 100vh;
  width: auto;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #222222;
  video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  @media screen and (max-width: 650px) {
    background-color: #222;
  }
}

.view1 {
  position: relative;
  z-index: -3;
  height: 100vh;
  width: 100%;
  padding-top: 100%;
  @media screen and (max-width: 650px) {
    height: 160vh;
    padding-top: 160%;
  }
}
.view2 {
  height: 110vh;
  position: relative;
  z-index: -3;
}

.parallax-window {
  min-height: 600px;
  background: transparent;
  z-index: 3;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}
section {
  background-color: #fff;
}

html {
  --scrollbarBG: #fff;
  --thumbBG: #333333;
  font-family: "Gotham Pro", "Helvetica", "Arial", Helvetica, Arial, serif;
}
*::-webkit-scrollbar {
  width: 16px;
}
* {
  scrollbar-width: 3px !important;
  scrollbar-color: #333333 #fff;
  scrollbar-width: thin;
}
*::-webkit-scrollbar-track {
  background: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 3px;
  border: 3px solid rgb(185, 185, 185);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}
.bacgroung {
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  z-index: 1;
  opacity: 0.3;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1220px;
  z-index: 4;
  overflow: hidden;
  @media screen and (max-width: 1300px) {
    padding: 0 20px;
    overflow: hidden;
    margin: 0 auto;
  }
}
.container_team {
  position: relative;
  margin: 0 auto;
  max-width: 1250px;
  z-index: 4;
  overflow: hidden;
}
.container_grey {
  position: relative;
  margin: 0 auto;
  max-width: 1358px;
  border-radius: 12px;
  z-index: 4;
  margin: 0 40px;
  margin: 0 auto;
  overflow: hidden;
}
.text_wrapper {
  display: flex;
  justify-content: space-between;
}

.text_left,
.text_right {
  width: 48%;
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.6;
    margin-bottom: 80px;
  }
  .title_name {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
  }
  .title_name::before {
    position: absolute;
    content: "";
    top: -170px;
    left: 0px;
    height: 105px;
    width: 105px;
    background-image: url("/assets/img/manager_photo.png");
  }
  .subtittle_name {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.6;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 25px;
  }
  .description_big {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    color: #ffffff;
  }
  .metro_products {
    margin-top: 40px;
  }
  .metro_products__item {
    display: block;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 20px 0px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
    max-width: 210px;
    cursor: pointer;
  }
  .metro_products__item::after {
    position: absolute;
    content: "";
    width: 26.23px;
    height: 17.49px;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    background-image: url("/assets/img/arrow.svg");
    background-repeat: no-repeat;
  }
  .metro_products__item:last-child {
    border-bottom: 0px;
  }
  .text_hr {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-top: 80px;
    @media (max-width: 650px) {
      margin-top: 30px;
    }
  }
  .direction {
    position: relative;
    margin-bottom: 10px;
  }
  .direction::before {
    position: absolute;
    content: "";
    width: 105px;
    height: 105px;
    top: -150px;
    left: 0px;
    background-image: url("/assets/img/manager_photo.png");
  }
  .direction_disc {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.6;
  }
  .direction_text {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 30px;
    padding-left: 20px;
    border-left: 1px solid rgba($color: #fff, $alpha: 0.1);
    margin-left: 40px;
  }
  .direction_text::before {
    position: absolute;
    content: "“";
    width: 18px;
    height: 22px;
    left: -41px;
    top: 10px;
    font-size: 43px;
  }

  @media (max-width: 650px) {
    .metro_products {
      margin-top: 60px;
    }
    p {
      margin-bottom: 12px;
    }
  }
}
.text_left p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
  max-width: 578px;
}

.mt180 {
  margin-top: 185px;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mt140 {
  margin-top: 140px;
}

.pb60 {
  padding-bottom: 60px;
}
.mt60 {
  margin-top: 63px;
}
.mb60 {
  margin-bottom: 60px !important;
}
.pt95 {
  padding-top: 95px;
}
.pt80 {
  padding-top: 80px;
}
.pt70 {
  padding-top: 70px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.mb30 {
  margin-bottom: 30px;
}
.pt30 {
  padding-top: 30px;
}
.mt20 {
  margin-top: 20px;
}
.mb0 {
  margin-bottom: 0px;
}
.fz26 {
  font-size: 22px !important;
  line-height: 35px !important;
  text-transform: capitalize !important;
  opacity: 1 !important;
}

@media screen and (max-width: 650px) {
  .about {
    padding: 0px;

    .text_wrapper {
      display: block;
      .text_left {
        margin-right: 0px;
        width: 100%;
      }
      .show_description {
        position: relative;
      }
      .hid_show {
        margin-top: 80px;
      }
      .active::after {
        transform: rotate(180deg);
      }
      .text_right {
        width: 100%;
        overflow: hidden;
      }
      .text_left {
        overflow: hidden;
      }
      .text_left .metro_products__item,
      .text_right .metro_products__item {
        max-width: 100%;
      }
      .text_left .description_big,
      .text_right .description_big {
        font-size: 18px;
        line-height: 35px;
      }
      .text_left .title,
      .text_right .title {
        margin-bottom: 60px;
      }
    }
    .product_rad_container {
      height: 350px;
    }
    .tasks {
      margin-top: 20px;
    }
    .tasks_hr {
      display: none;
    }
    .tasks_hr_bottom {
      margin-top: 10px;
    }
    .tasks_about {
      margin-top: 60px;
    }
    .title_name {
      margin-top: 130px;
    }
    .title_name:before {
      top: -128px;
    }
    .subtittle_name {
      margin-bottom: 40px;
    }
    .desc_mb {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 35px;
    }
    .text_right {
      padding-top: 0px;
      margin-top: 0px;
      border-top: 0px;
    }
    .text_left .direction_text:before,
    .text_right .direction_text:before {
      left: -30px;
    }
    .text_right .direction_text {
      margin-left: 30px;
    }
  }
  .mdp70 {
    padding-top: 70px;
    @media (max-width: 650px) {
      padding-top: 40px;
    }
  }
}
