@font-face {
    font-family: 'Gotham Pro';
    src: url(GothamPro.woff2) format('woff2'),
        url(GothamPro.woff) format('woff'),
        url(GothamPro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(GothamPro-Medium.woff2) format('woff2'),
        url(GothamPro-Medium.woff) format('woff'),
        url(GothamPro-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url(GothamPro-Light.woff2) format('woff2'),
        url(GothamPro-Light.woff) format('woff'),
        url(GothamPro-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;vertical-align:baseline}a{text-decoration:none}a:active,a:hover{outline:0}li,ul{margin:0;padding:0}*,:after,:before,html{-webkit-box-sizing:border-box;box-sizing:border-box}:focus{outline:0}audio,canvas,iframe,img,svg,video{vertical-align:middle}iframe{border:0}textarea{resize:none;overflow:auto;vertical-align:top;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none}button,input,select,textarea{outline:none;border:none;font-size:100%;margin:0}button,input{line-height:normal}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}.flex{display:-webkit-box;display:-ms-flexbox;display:flex}.header{position:fixed;z-index:99999;background-color:rgba(0,0,0,0);width:100%;margin:0 auto;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.header--fixed{background-color:#222}.header .header__container{max-width:1510px;margin:0 auto;top:0;z-index:400;padding:0 30px;overflow:hidden;width:100%;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.header .mobile_menu{display:none}.header .header_wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:10px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.header .header_left{color:#fff;font-family:Gotham Pro,sans-serif;font-style:normal;font-weight:400;font-size:48px;line-height:100%;padding-top:10px}.header .header_right{color:#fff}.header .header_right nav{margin-right:20px}.header .header_right nav a{color:#fff;margin-right:40px}.header .header_right{display:-webkit-box;display:-ms-flexbox;display:flex;padding-top:26px}.header .contacts_tel{text-transform:uppercase;font-style:normal;font-weight:400;font-size:16px;line-height:20px;letter-spacing:.1em;color:#fff;opacity:.6;padding-left:60px;cursor:pointer}.header .contacts_tel a{color:#fff}.header .contacts_email{font-style:normal;font-weight:400;font-size:16px;line-height:20px;letter-spacing:.1em;text-transform:uppercase;color:#fff;margin-bottom:10px;padding-left:60px;border-left:1px solid hsla(0,0%,100%,.3);-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.header .contacts_email a{color:#fff}.header .desctop_hidden{display:none}.hero{background-color:rgba(0,0,0,0);color:#fff;padding-bottom:50px;padding-top:80px}.hero .container_hero{position:relative;z-index:9;margin:0 auto;max-width:1220px;z-index:4;overflow:hidden}.hero .video{position:fixed;top:50%;left:50%;bottom:0;width:150%;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);z-index:1}.hero .hero_logo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:40px;padding-top:93px}.hero h1{font-style:normal;font-weight:400;font-size:48px;line-height:100%;color:#fff;text-align:center}.hero .tasks_hr4{width:0;height:1px;background:#fff;opacity:.1;margin:40px 0}.hero .hero_skils,.hero .tasks_hr4{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.hero .hero_skils{margin-bottom:40px}.hero .hero_skils__wrapper{display:-webkit-box;display:-ms-flexbox;display:flex}.hero .hero_skils__item{font-style:normal;font-weight:400;font-size:22px;line-height:33px;color:#fff;padding:5px 15px;border:1px solid #fff;border-radius:30px;margin:0 15px;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.hero .hero_img_block{position:relative;border-radius:12px;overflow:hidden;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background-color:#fde706;height:720px}.hero .hero_img_block,.hero .img1,.hero .img2,.hero .img3{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.hero .img1,.hero .img2,.hero .img3{height:200%;width:25%;-webkit-transform:rotate(-45deg) scale(1);-ms-transform:rotate(-45deg) scale(1);transform:rotate(-45deg) scale(1)}.hero .img1 img,.hero .img2 img,.hero .img3 img{width:100%}.hero #hero-part1{width:437px;position:absolute;left:220px;top:-100px;-webkit-transform:rotate(-38deg);-ms-transform:rotate(-38deg);transform:rotate(-38deg);border-radius:10px}.hero #hero-part2{width:461px;left:5px;bottom:-442px}.hero #hero-part2,.hero #hero-part3{position:absolute;-webkit-transform:rotate(-38.71deg);-ms-transform:rotate(-38.71deg);transform:rotate(-38.71deg);border-radius:10px}.hero #hero-part3{width:454px;left:575px;bottom:-170px}.hero #hero-part4{width:476px;position:absolute;right:-214px;top:-114px;-webkit-transform:rotate(-38.71deg);-ms-transform:rotate(-38.71deg);transform:rotate(-38.71deg);border-radius:10px}.hero .mask{width:100%;height:100%;background-size:10% 10%;background-repeat:no-repeat;-webkit-transform:rotate(-38deg);-ms-transform:rotate(-38deg);transform:rotate(-38deg);-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}.hero .mask,.hero .mask:after{position:absolute;content:"";left:0;top:0}.hero .mask:after{width:20px;height:90px}.hero .heroRotate{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}.about{background-color:rgba(0,0,0,0);color:#fff;padding:0}.about__divider,.about__divider2{height:1px;background-color:hsla(0,0%,100%,.1)}.about__divider2,.about hr{margin-bottom:20px}.about hr{width:0;height:1px;background:#fff;opacity:.1}.about ul{margin-left:20px}.about li{font-style:normal;font-weight:400;font-size:16px;line-height:25px;color:#fff;margin-bottom:20px}.about .tasks_hr1,.about .tasks_hr2,.about .tasks_hr3{width:0;height:1px;background:#fff;opacity:.1;margin-bottom:20px}.product_section{height:250vh}.product_section .product{background-color:rgba(0,0,0,0)}.product_section .container_grey{position:sticky;top:100px;z-index:5;background-color:#333;width:calc(100% - 40px)}.product_section .product_wrapper img{border-radius:4px;margin-bottom:40px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;width:32%}.product_section .product_wrapper img:hover{cursor:pointer;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}.product_section .product_wrapper{position:relative;z-index:4;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background:#333;border-radius:12px;padding:140px 70px 100px}.product_section .product_rad img{padding:15px;display:block}.product_section .product_rad{-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}.product_section .prod1,.product_section .prod2,.product_section .prod3,.product_section .prod4,.product_section .prod5,.product_section .prod6,.product_section .prod7,.product_section .prod8{height:100%;width:11%;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.product_section .prod1 img,.product_section .prod2 img,.product_section .prod3 img,.product_section .prod4 img,.product_section .prod5 img,.product_section .prod6 img,.product_section .prod7 img,.product_section .prod8 img{width:100%;margin-bottom:20px;-webkit-transform:scale(1) translateY(-150px);-ms-transform:scale(1) translateY(-150px);transform:scale(1) translateY(-150px)}.product_section .product_rad_container{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;width:100%;height:756px;background:#333;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:12px;overflow:hidden}.product .container_products{position:relative;max-width:1358px;border-radius:12px;z-index:4;margin:0 auto;overflow:hidden}.product .product_wrapper{position:relative;z-index:4;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background:#333;border-radius:12px;padding:140px 70px 100px}.product .product_wrapper img{border-radius:4px;margin-bottom:40px;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;width:32%}.product .product_wrapper img:hover{cursor:pointer;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}.store{background-color:rgba(0,0,0,0);padding-top:60px;padding-bottom:20px}.store .container_store{position:relative;max-width:1358px;margin:0 auto;height:200vh}.store .store_wrapper{position:sticky;top:90px;z-index:9;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;border-radius:12px;padding:90px 70px;max-height:-webkit-fit-content!important;max-height:-moz-fit-content!important;max-height:fit-content!important;height:-webkit-fit-content!important;height:-moz-fit-content!important;height:fit-content!important;background:#333}.store .store_left,.store .store_right{width:48%;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;background-color:#fff;overflow:hidden}.store #bokeh3,.store #bokeh4{width:100%}.recipes{background-color:rgba(0,0,0,0);padding-top:50px;padding-bottom:20px}.recipes .recipes_wrapper{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin:0 auto}.recipes .recipes_left,.recipes .recipes_wrapper{display:-webkit-box;display:-ms-flexbox;display:flex}.recipes .recipes_left{position:relative;z-index:4;background:#333;padding:70px 0;width:48%;border-radius:12px;overflow:hidden;max-width:590px;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;max-height:610px;margin-bottom:70px}.recipes img{max-width:420px;max-height:344px;-webkit-transition:all .18s ease-out;-o-transition:all .18s ease-out;transition:all .18s ease-out}.recipes .activeZoom{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}.recipes_right{margin-top:70px;position:relative;z-index:4;background:#333;padding:0;border-radius:12px;overflow:hidden;width:48%;max-height:515px}.recipes_right .recipes_right__wrapper{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;max-height:441px}.recipes_right .img1{-webkit-transform:translateY(-200px);-ms-transform:translateY(-200px);transform:translateY(-200px)}.recipes_right .img1,.recipes_right .img2{-webkit-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;height:865px;width:40%;max-width:40%;max-height:570px}.recipes_right .img2{-webkit-transform:translateY(200px);-ms-transform:translateY(200px);transform:translateY(200px)}.recipes_right .activBias img:first-child{-webkit-transform:translateY(-200px);-ms-transform:translateY(-200px);transform:translateY(-200px)}.recipes_right .activBias img:nth-child(2){-webkit-transform:translateY(200px);-ms-transform:translateY(200px);transform:translateY(200px)}.stack{background-color:rgba(0,0,0,0);padding-top:60px;padding-bottom:20px}.stack .container_grey{padding-top:60px;padding-bottom:60px}.stack .stack_wrapper{position:relative;z-index:4;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;background:#333;border-radius:12px;padding:0 70px}.stack .stack_wrapper img{width:48%;max-width:48%}.show_case{position:fixed;background-color:#222;left:0;top:0;width:100%;height:100%;background-size:cover;padding-top:1px;z-index:0;background-image:url(/assets/img/show_case.jpg);background-position-y:100%}.show_case .container_show_case{background-color:#222}.show_case .show_case:before{position:absolute;content:"";width:100%;height:100%;left:0;top:0;z-index:1;background-color:rgba(0,0,0,0)}.show_case .info{position:absolute;top:37%;left:210px}.show_case .show_case__title{font-style:normal;font-weight:400;font-size:48px;line-height:100%;color:#fff;margin-bottom:40px;margin-top:50px}.show_case .show_case__btn{font-style:normal;font-weight:600;font-size:16px;line-height:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#000;padding:20px 60px;background-color:#fff;border-radius:100px;cursor:pointer}.footer{position:fixed;background-color:#222;left:0;top:0;width:100%;height:100%;z-index:-1;background-color:#fff;height:100vh}.footer .footer__container{position:relative;margin:0 auto;max-width:1440px;z-index:4;padding:0 40px 10px;height:100vh}.footer .footer_wrapper{padding-top:30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.footer .footer_title{margin-top:32vh;font-style:normal;font-weight:400;font-size:62px;line-height:60px;color:#000;margin-bottom:20px}.footer .footer_title span{font-weight:100}.footer .info_wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.footer .info_wrapper a{color:#000}.footer .footer_btn{font-style:normal;font-weight:600;font-size:16px;line-height:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#fff;padding:20px 60px;background-color:#000;border-radius:100px;cursor:pointer}.footer .footer_info{margin-left:45%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);margin-bottom:32vh}.footer .footer_bottom{position:absolute;bottom:44px;left:20px;width:calc(100% - 40px);height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.footer .footer_bottom a{color:#000;margin-left:40px;cursor:pointer}.footer .social_liks .social_liks__item{margin-bottom:20px;cursor:pointer}.footer .social_liks a{color:#000;margin-bottom:20x;margin-left:0;cursor:pointer}.footer .nav_bar{margin-top:auto;padding-bottom:20px;cursor:pointer}.form{display:none;position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fff;z-index:200;padding:50px;-webkit-box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);max-width:550px;width:550px;pointer-events:all}.form input{display:block;margin-bottom:15px;width:100%;border:1px solid #222;padding:8px 10px}.form input::-webkit-input-placeholder{opacity:.3;color:#222}.form input::-moz-placeholder{opacity:.3;color:#222}.form input:-ms-input-placeholder{opacity:.3;color:#222}.form input::-ms-input-placeholder{opacity:.3;color:#222}.form input::placeholder{opacity:.3;color:#222}.form h4{margin-bottom:30px;text-align:center;font-size:24px}.overlay_popup{z-index:100;top:0;right:0;left:0;bottom:0;background:#000;opacity:.5}.overlay_popup,.popup{display:none;position:fixed;pointer-events:all}.popup{z-index:999;width:320;height:233px;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);padding:72px;background-color:#fff;-webkit-box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)}.popup h2{margin-top:25px}.close-popup{position:absolute;top:15px;right:15px;width:23px;height:23px;cursor:pointer;opacity:.3}.close-popup:hover{opacity:1}.close-popup:before{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.close-popup:after,.close-popup:before{content:"";background-color:#000;position:absolute;height:2px;width:31px;top:11px;left:-4px}.close-popup:after{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.texarea{height:120px;width:290px;width:100%;border:1px solid #222;font-size:16px;padding:8px 10px}.texarea::-webkit-input-placeholder{opacity:.3;color:#222;font-size:16px}.texarea::-moz-placeholder{opacity:.3;color:#222;font-size:16px}.texarea:-ms-input-placeholder{opacity:.3;color:#222;font-size:16px}.texarea::-ms-input-placeholder{opacity:.3;color:#222;font-size:16px}.texarea::placeholder{opacity:.3;color:#222;font-size:16px}.text-button{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0 auto;width:100%;color:#fff}.form-button{margin:30px auto 0;display:block;font-style:normal;font-weight:600;font-size:16px;line-height:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#fff;padding:20px 60px;background-color:#222;border-radius:100px;cursor:pointer}.close{position:absolute;right:32px;top:32px;width:32px;height:32px;opacity:.3;cursor:pointer}.close:hover{opacity:1}.close:after,.close:before{position:absolute;left:15px;content:" ";height:33px;width:2px;background-color:#333}.close:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.close:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}#preloader_overlay{height:100vh;width:100vw;background-color:#222;position:fixed;z-index:99999999999999}#preloader{color:#fff;font-size:24px;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.viewport{position:relative}#canvas{position:fixed;content:"";height:100vh;width:auto;left:0;right:0;z-index:1;background-color:#222}#canvas video{height:100vh;width:100vw;-o-object-fit:cover;object-fit:cover}body{margin:0;padding:0;height:100%;width:100%;overflow-x:hidden;position:fixed}.view1{height:100vh;width:100%;padding-top:100%}.view1,.view2{position:relative;z-index:-3}.view2{height:110vh}.parallax-window{min-height:600px;background:rgba(0,0,0,0);z-index:3}h1,h2,h3,h4,h5,li,p,ul{margin:0;padding:0}section{background-color:#fff}html{--scrollbarBG:#fff;--thumbBG:#333;font-family:Gotham Pro,Helvetica,Arial,serif}::-webkit-scrollbar{width:16px}*{scrollbar-width:3px!important;scrollbar-color:#333 #fff;scrollbar-width:thin}::-webkit-scrollbar-track{background:#fff}::-webkit-scrollbar-thumb{background-color:#333;border-radius:3px;border:3px solid #b9b9b9}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}body,html{position:relative;margin:0;padding:0}.bacgroung{position:fixed;content:"";width:100%;height:100%;top:0;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);max-width:1440px;z-index:1;opacity:.3;overflow:hidden}.container{max-width:1220px}.container,.container_team{position:relative;margin:0 auto;z-index:4;overflow:hidden}.container_team{max-width:1250px}.container_grey{position:relative;max-width:1358px;border-radius:12px;z-index:4;margin:0 auto;overflow:hidden}.text_wrapper{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.text_left,.text_right{width:48%}.text_left .title,.text_right .title{color:#fff;opacity:.6;margin-bottom:80px}.text_left .title,.text_left .title_name,.text_right .title,.text_right .title_name{font-style:normal;font-weight:500;font-size:16px;line-height:20px;letter-spacing:.1em;text-transform:uppercase}.text_left .title_name,.text_right .title_name{position:relative;color:hsla(0,0%,100%,.6)}.text_left .title_name:before,.text_right .title_name:before{position:absolute;content:"";top:-170px;left:0;height:105px;width:105px;background-image:url(/assets/img/manager_photo.png)}.text_left .subtittle_name,.text_right .subtittle_name{font-style:normal;font-weight:400;font-size:15px;line-height:22px;color:#fff;opacity:.6;margin-top:20px;margin-bottom:80px}.text_left p,.text_right p{font-style:normal;font-weight:300;font-size:16px;line-height:25px;color:#fff;margin-bottom:25px}.text_left .description_big,.text_right .description_big{font-style:normal;font-weight:400;font-size:26px;line-height:35px;color:#fff}.text_left .metro_products,.text_right .metro_products{margin-top:40px}.text_left .metro_products__item,.text_right .metro_products__item{display:block;position:relative;font-style:normal;font-weight:400;font-size:16px;line-height:20px;color:#fff;padding:20px 0;border-bottom:1px solid hsla(0,0%,100%,.1);max-width:210px;cursor:pointer}.text_left .metro_products__item:after,.text_right .metro_products__item:after{position:absolute;content:"";width:26.23px;height:17.49px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:0;background-image:url(/assets/img/arrow.svg);background-repeat:no-repeat}.text_left .metro_products__item:last-child,.text_right .metro_products__item:last-child{border-bottom:0}.text_left .text_hr,.text_right .text_hr{width:0;height:1px;background:#fff;opacity:.1;margin-top:80px}.text_left .direction,.text_right .direction{position:relative;margin-bottom:10px}.text_left .direction:before,.text_right .direction:before{position:absolute;content:"";width:105px;height:105px;top:-150px;left:0;background-image:url(/assets/img/manager_photo.png)}.text_left .direction_disc,.text_right .direction_disc{font-style:normal;font-weight:400;font-size:15px;line-height:22px;color:#fff;opacity:.6}.text_left .direction_text,.text_right .direction_text{position:relative;font-style:normal;font-weight:400;font-size:15px;line-height:22px;color:#fff;margin-top:30px;padding-left:20px;border-left:1px solid hsla(0,0%,100%,.1);margin-left:40px}.text_left .direction_text:before,.text_right .direction_text:before{position:absolute;content:"“";width:18px;height:22px;left:-41px;top:10px;font-size:43px}.text_left p{font-style:normal;font-weight:400;font-size:22px;line-height:35px;color:#fff;max-width:578px}.mt180{margin-top:185px}.mb50{margin-bottom:50px!important}.mt140{margin-top:140px}.pb60{padding-bottom:60px}.mt60{margin-top:63px}.mb60{margin-bottom:60px!important}.pt95{padding-top:95px}.pt80{padding-top:80px}.pt70{padding-top:70px}.pt40{padding-top:40px}.pt50{padding-top:50px}.pt60{padding-top:60px}.mb30{margin-bottom:30px}.pt30{padding-top:30px}.mt20{margin-top:20px}.mb0{margin-bottom:0}.fz26{font-size:22px!important;line-height:35px!important;text-transform:capitalize!important;opacity:1!important}@media (max-width:1250px){.header .header__container{padding:0 20px}.header .contacts{padding-right:0}.hero .container_hero{padding-left:20px;padding-right:20px}}@media (max-width:650px){.header .header__container{border-bottom:1px solid hsla(0,0%,100%,.2)}.header .header_wrapper{padding:15px 0 20px}.hero .container_hero{padding:0}.hero h1{font-size:32px;line-height:35px;margin-bottom:30px}.hero .tasks_hr4{display:none}.hero .hero_skils{margin-bottom:60px;width:105%;overflow:auto;white-space:nowrap}.hero .hero_skils__wrapper{display:block;font-size:0;width:100%;overflow:scroll}.hero .hero_skils__wrapper::-webkit-scrollbar{height:0}.hero .hero_skils__item{display:inline-block;font-size:18px;line-height:25px;white-space:nowrap}.hero .hero_img_block{height:auto!important;margin:0 20px}.hero .img1,.hero .img2,.hero .img3{height:100%}.hero{padding-bottom:30px}.hero .hero_img img{height:420px}.hero ::-webkit-scrollbar-track{background:#222}.about hr{margin-top:20px}.toggle_description{padding-bottom:30;height:auto}.open{display:block}.toggle-trigger{position:relative;margin-bottom:30px!important}.toggle-trigger:after{content:"";position:absolute;right:0;top:0;width:17px;height:10px;background-image:url(/assets/img/arrow_title.svg);background-repeat:no-repeat}.store .container_store{padding:0 10px}.store .store_wrapper{display:block;padding:40px 10px}.store .store_left{margin-bottom:40px}.store .store_left,.store .store_right{width:100%;height:350px}.form{max-width:100%;width:100%;padding:20px}.form h4{margin-top:55px}.popup{width:calc(100% - 40px);text-align:center;padding:80px 26px 26px}.form-button{padding:15px 30px}.text_left .text_hr,.text_right .text_hr{margin-top:30px}.text_left .metro_products,.text_right .metro_products{margin-top:60px}.text_left p,.text_right p{margin-bottom:12px}}@media (max-width:900px){.header .header_left{padding-top:0}.header .header_left img{width:150px}.header .header_right nav{margin-right:0}.header .header_right nav a{margin-right:10px}.header .contacts_email,.header .contacts_tel{padding-left:10px}.hero .hero_skils__item{font-size:18px;line-height:25px}}@media (max-width:750px){.header .header_left img{width:150px}.header .header_right nav a{color:#fff;margin-right:10px}.header .contacts_tel{padding-left:10px}.hero .hero_skils__item{font-size:16px;line-height:25px;margin:0 10px}}@media (max-width:650px) and (min-width:0px){.header .header_left img{width:35px}.header .header_right{padding-top:0}.header .header_right .mobile_nav_logo{cursor:pointer;position:relative}.header .header_right .menu_bg{position:absolute;left:0;top:0;background-color:red;height:100%;width:100%;border-radius:50%}.header .header_right .bar1,.header .header_right .bar2{width:30px;height:3px;background-color:#fff;margin:6px 0;-webkit-transition:.4s;-o-transition:.4s;transition:.4s;position:relative;z-index:2}.header .header_right .change .bar1{-webkit-transform:rotate(-45deg) translate(-9px,6px);-ms-transform:rotate(-45deg) translateY(6px);transform:rotate(-45deg) translateY(6px)}.header .header_right .change .bar2{-webkit-transform:rotate(45deg) translate(-8px,-8px);-ms-transform:rotate(45deg) translateY(-8px);transform:rotate(45deg) translateY(-8px)}.header .mobile_hidden{display:none}.header .desctop_hidden{display:block}.header .mobile_menu{height:0;width:0;position:relative;border:2px solid red}.header .mobile_menu a{display:block;margin-bottom:30px;color:#fff;white-space:nowrap;-webkit-transform:rotateX(90deg);transform:rotateX(90deg)}.header .mobile_menu .svg_logo{fill:#fff!important;fill-opacity:0;-webkit-transition:fill-opacity 1s;-o-transition:fill-opacity 1s;transition:fill-opacity 1s;stroke:#fff}.header .mobile_menu .contacts_email,.header .mobile_menu .contacts_tel{padding:0;border:0}.header .mobile_menu .contacts{padding-top:20px;width:100vw;position:absolute;bottom:170px;left:0}}@media screen and (max-width:650px){.hero #bokeh{max-width:auto!important}.hero .hero_logo{margin-bottom:30px;padding-top:50px}.about li{margin-bottom:9px}.recipes{padding-bottom:60px}.recipes .container{padding:0 10px}.recipes .recipes_wrapper{display:block}.recipes .recipes_left{width:100%;margin-bottom:20px}.recipes_right{width:100%}.recipes_right .img1,.recipes_right .img2{width:216px}body{background-color:#222}.view1{height:160vh;padding-top:160%}.about{padding:0}.about .text_wrapper{display:block}.about .text_wrapper .text_left{margin-right:0;width:100%}.about .text_wrapper .show_description{position:relative}.about .text_wrapper .hid_show{margin-top:80px}.about .text_wrapper .active:after{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.about .text_wrapper .text_right{width:100%;overflow:hidden}.about .text_wrapper .text_left{overflow:hidden}.about .text_wrapper .text_left .metro_products__item,.about .text_wrapper .text_right .metro_products__item{max-width:100%}.about .text_wrapper .text_left .description_big,.about .text_wrapper .text_right .description_big{font-size:18px;line-height:35px}.about .text_wrapper .text_left .title,.about .text_wrapper .text_right .title{margin-bottom:60px}.about .product_rad_container{height:350px}.about .tasks{margin-top:20px}.about .tasks_hr{display:none}.about .tasks_hr_bottom{margin-top:10px}.about .tasks_about{margin-top:60px}.about .title_name{margin-top:130px}.about .title_name:before{top:-128px}.about .subtittle_name{margin-bottom:40px}.about .desc_mb{padding-bottom:30px;border-bottom:1px solid hsla(0,0%,100%,.1);margin-bottom:30px;font-size:18px;line-height:35px}.about .text_right{padding-top:0;margin-top:0;border-top:0}.about .text_left .direction_text:before,.about .text_right .direction_text:before{left:-30px}.about .text_right .direction_text{margin-left:30px}.mdp70{padding-top:70px}}@media (max-width:1024px){.hero .hero_img_block{height:430px!important}.hero .hero_img_block .visible-sm{display:block;max-width:100%}}@media (max-width:650px) and (max-width:650px){.toggle_description{overflow:hidden;height:0}}@media (min-width:0px) and (max-width:650px){.product_section{height:auto;padding-top:40px}.product_section .product{padding-top:60px;padding-bottom:60px}.product_section .product .metro_products{margin-bottom:80px}.product_section .product .text_right{padding-top:20px;border-top:1px solid hsla(0,0%,100%,.1)}.product_section .container_grey{margin:0 10px;width:calc(100% - 20px)}.stack{padding-bottom:60px}.stack .container_grey{padding-top:30px;padding-bottom:30px}.stack .stack_wrapper{display:block;padding:0 10px}.stack .stack_wrapper img:first-child{margin-bottom:30px}.stack .stack_wrapper img{width:100%;max-width:100%}.show_case{height:100vh;background-image:url(/assets/img/show_case.jpg);background-repeat:no-repeat;background-size:200% 100%}.show_case .info{position:absolute;top:16%;left:50%!important;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:100%}.show_case .show_case__title{font-size:28px;width:181px;text-align:center;margin:0 auto 60px}.show_case .show_case__btn{padding:15px 30px;display:block;width:90%;margin:0 auto}.show_case_bg{height:350px;width:100%;display:none}.show_case .info{top:30vh;left:40px}.show_case .info img{display:block;margin-left:auto;margin-right:auto;margin-bottom:30px}.footer{background-color:#fff;padding-bottom:30px;height:100vh}.footer .footer_info{margin-bottom:17vh}.footer .footer__container{padding:0 20px;background-color:#fff}.footer .info_wrapper{display:block}footer .footer_bottom a{margin-bottom:20px;display:block}.footer .nav_bar{margin-bottom:0;padding-bottom:0;text-align:right}.footer .footer_info{width:100%;margin-left:0;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}.footer .footer_title{font-size:30px;line-height:43px;margin-bottom:20vh;margin-top:26vh}.footer .footer_btn{padding:15px 30px;text-align:center}.footer .footer_title{margin-bottom:30px}.footer .footer_btn{margin:30px auto 0;display:block;width:95%}}@media (min-width:650px) and (max-width:1400px){.product .container_products,.product_section .container_grey{margin:0 20px}.store .container_store,.store .store_wrapper{margin:0 10px}}@media (min-width:650px) and (max-width:950px){.product .product_wrapper img,.product_section .product_wrapper img{width:48%;margin-bottom:30px}}@media (min-width:100px) and (max-width:650px){.product_section .product_wrapper img{width:100%;margin:20px 0 10px;border-radius:6px}.product_section .product_wrapper img:hover{-webkit-transform:scale(1.02);-ms-transform:scale(1.02);transform:scale(1.02)}.product_section .product_wrapper{padding:20px 10px}.product_section .product_rad_container{height:400px}.product .product_wrapper{padding:20px 10px}.product .product_wrapper img{width:100%;margin:20px 0 10px;border-radius:6px}}@media (min-width:1220px) and (max-width:1350px){.product_section .product_wrapper{padding:80px 0 50px;max-width:1220px;margin:0 auto}}@media (min-width:650px) and (max-width:1300px){.product .product_wrapper,.product_section .product_wrapper{padding:80px 20px 60px}}@media (min-width:100px) and (max-width:1000px){.product_section .prod1 img,.product_section .prod2 img,.product_section .prod3 img,.product_section .prod4 img,.product_section .prod5 img,.product_section .prod6 img,.product_section .prod7 img,.product_section .prod8 img{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@media (min-width:650px) and (max-width:1000px){.product_section .product_rad_container{height:700px}}@media screen and (max-width:1250px){.recipes .recipes_left{max-height:470px}}@media screen and (max-width:900px){.recipes_right{margin-top:0}}@media (min-width:650px) and (max-width:1220px){.stack .stack_wrapper img{width:48%;max-width:48%}.stack .stack_wrapper img:first-child{margin-bottom:10px}}@media (min-width:850px) and (max-width:950px){.show_case .show_case__title{font-size:36px;line-height:100%}.show_case .info{position:absolute;top:27%;left:100px}}@media (min-width:650px) and (max-width:850px){.show_case .show_case__btn{padding:15px 40px}.show_case .info{position:absolute;top:25%;left:108px}.footer .footer_title{font-size:45px;line-height:48px}.footer .footer_info{width:541px}.footer .footer_btn{padding:15px 40px}.footer .footer_info{width:502px;margin-left:50%}}@media (min-width:850px) and (max-width:1220px){.footer .footer_info{width:750px;margin-left:50%}.footer .footer__container{padding:0 20px 10px;background-color:#fff}}@media screen and (max-width:1300px){.container{padding:0 20px;overflow:hidden;margin:0 auto}}
