.about {
  // background-color: #222222;
  &__divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__divider2 {
    margin-bottom: 20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  background-color: transparent;
  color: #fff;
  padding: 0px;
  hr {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  ul {
    margin-left: 20px;
  }
  li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 20px;
    @media screen and (max-width: 650px) {
      margin-bottom: 9px;
    }
  }
  .tasks_hr1 {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  .tasks_hr2 {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  .tasks_hr3 {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  .about {
    hr {
      margin-top: 20px;
    }
  }
  .toggle_description {
    padding-bottom: 30;
    height: auto;
    @media (max-width: 650px) {
      overflow: hidden;
      height: 0;
    }
  }
  .open {
    display: block;
  }
  .toggle-trigger {
    position: relative;
    margin-bottom: 30px !important;
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 17px;
      height: 10px;
      background-image: url("/assets/img/arrow_title.svg");
      background-repeat: no-repeat;
    }
  }
}
