.form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 200;
  padding: 50px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  max-width: 550px;
  width: 550px;
  pointer-events: all;
  @media (max-width: 650px) {
    max-width: 100%;
    width: 100%;
    padding: 20px;
  }
  input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #222;
    padding: 8px 10px;
    &::placeholder {
      opacity: 0.3;
      color: #222;
    }
  }
  h4 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    @media (max-width: 650px) {
      margin-top: 55px;
    }
  }
}

.overlay_popup {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  pointer-events: all;
}

.popup {
  // display: block;
  pointer-events: all;
  display: none;
  position: fixed;
  z-index: 999;
  width: 320;
  height: 233px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 72px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  @media (max-width: 650px) {
    width: calc(100% - 40px);
    padding: 26px;
    text-align: center;
    padding-top: 80px;
  }
  h2 {
    margin-top: 25px;
  }
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}

.close-popup:before {
  content: "";
  background-color: #000;
  position: absolute;
  height: 2px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: "";
  background-color: #000;
  position: absolute;
  height: 2px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}
.texarea {
  height: 120px;
  width: 290px;
  width: 100%;
  border: 1px solid #222;
  font-size: 16px;
  padding: 8px 10px;
  &::placeholder {
    opacity: 0.3;
    color: #222;
    font-size: 16px;
  }
}
.text-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}
.form-button {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 20px 60px;
  background-color: #222;
  border-radius: 100px;
  cursor: pointer;
  @media (max-width: 650px) {
    padding: 15px 30px;
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
