.footer {
  position: fixed;
  background-color: #222;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fff;
  height: 100vh;
  .footer__container {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    z-index: 4;
    padding: 0 40px;
    padding-bottom: 10px;
    height: 100vh;
  }
  .footer_wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .footer_title {
    margin-top: 32vh;
    font-style: normal;
    font-weight: normal;
    font-size: 62px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 20px;
    span {
      font-weight: 100;
    }
  }
  .info_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: #000;
    }
  }
  .footer_btn {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 20px 60px;
    background-color: #000;
    border-radius: 100px;
    cursor: pointer;
  }
  .footer_info {
    margin-left: 45%;
    transform: translateX(-50%);
    margin-bottom: 32vh;
  }
  .footer_bottom {
    position: absolute;
    bottom: 44px;
    left: 20px;
    width: calc(100% - 40px);
    height: 60px;
    display: flex;
    justify-content: space-between;

    a {
      color: #000;
      margin-left: 40px;
      cursor: pointer;
    }
  }
  .social_liks {
    .social_liks__item {
      margin-bottom: 20px;
      cursor: pointer;
    }
    a {
      color: #000;
      margin-bottom: 20x;
      margin-left: 0px;
      cursor: pointer;
    }
  }
  .nav_bar {
    margin-top: auto;
    padding-bottom: 20px;
    cursor: pointer;
  }
}

@media (min-width: 850px) and (max-width: 1220px) {
  .footer .footer_info {
    width: 750px;
    margin-left: 50%;
  }
  .footer .footer__container {
    padding: 0 20px 10px;
    background-color: #fff;
  }
}

@media (min-width: 650px) and (max-width: 850px) {
  .footer .footer_title {
    font-size: 45px;
    line-height: 48px;
  }
  .footer .footer_info {
    width: 541px;
  }
  .footer .footer_btn {
    padding: 15px 40px;
  }
  .footer .footer_info {
    width: 502px;
    margin-left: 50%;
  }
}

@media (min-width: 0px) and (max-width: 650px) {
  .footer {
    background-color: #fff;
    padding-bottom: 30px;
    height: 100vh;
    .footer_info {
      margin-bottom: 17vh;
    }
  }
  .footer .footer__container {
    padding: 0 20px;
    background-color: #fff;
  }
  .footer .info_wrapper {
    display: block;
  }
  footer .footer_bottom a {
    margin-bottom: 20px;
    display: block;
  }
  .footer .nav_bar {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: right;
  }
  .footer .footer_info {
    width: 100%;
    margin-left: 0px;
    transform: translateX(0%);
  }
  .footer .footer_title {
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 20vh;
    margin-top: 26vh;
  }
  .footer .footer_btn {
    padding: 15px 30px;
    text-align: center;
  }
  .footer .footer_title {
    margin-bottom: 30px;
  }
  .footer .footer_btn {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    width: 95%;
  }
}
