.product_section {
  height: 250vh;
  @media (min-width: 0px) and (max-width: 650px) {
    height: 100vh;
    padding-top: 40px;
  }
}

.scrollAnimation {
  @media (min-width: 0px) and (max-width: 650px) {
    //   display: flex;
    //   align-items: center;
  }
}
.product_section {
  .product {
    background-color: transparent;
    @media (min-width: 0px) and (max-width: 650px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (min-width: 0px) and (max-width: 650px) {
      .metro_products {
        margin-bottom: 80px;
      }
    }
    @media (min-width: 0px) and (max-width: 650px) {
      .text_right {
        padding-top: 20px;
        border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
      }
    }
  }
  .container_grey {
    position: sticky;
    top: 100px;
    z-index: 5;
    background-color: #333333;
    width: calc(100% - 40px);
    @media (min-width: 650px) and (max-width: 1400px) {
      margin: 0 20px;
    }
    @media (min-width: 0px) and (max-width: 650px) {
      top: 150px;
      margin: 0 10px;
      width: calc(100% - 20px);
    }
  }
  .product_wrapper img {
    border-radius: 4px;
    margin-bottom: 40px;
    transition: all 0.3s ease;
    width: 32%;
    @media (min-width: 650px) and (max-width: 950px) {
      width: 48%;
      margin-bottom: 30px;
    }
    @media (min-width: 100px) and (max-width: 650px) {
      margin: 20px 0px;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 6px;
    }
  }
  .product_wrapper img:hover {
    cursor: pointer;
    transform: scale(1.1);
    @media (min-width: 100px) and (max-width: 650px) {
      transform: scale(1.02);
    }
  }
  .product_wrapper {
    position: relative;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #333333;
    border-radius: 12px;
    padding: 140px 70px 100px 70px;
    @media (min-width: 1220px) and (max-width: 1350px) {
      padding: 80px 0px 50px 0px;
      max-width: 1220px;
      margin: 0 auto;
    }
    @media (min-width: 650px) and (max-width: 1300px) {
      padding: 80px 20px 60px 20px;
    }
    @media (min-width: 100px) and (max-width: 650px) {
      padding: 20px 10px;
    }
  }
  .product_rad img {
    padding: 15px;
    display: block;
  }
  .product_rad {
    transition: all 0.5s ease;
  }
  .prod1,
  .prod2,
  .prod3,
  .prod4,
  .prod5,
  .prod6,
  .prod7,
  .prod8 {
    height: 100%;
    width: 11%;
    transform: rotate(-45deg);
    img {
      width: 100%;
      margin-bottom: 20px;
      transform: scale(1) translateY(-150px);
      @media (min-width: 100px) and (max-width: 1000px) {
        transform: scale(1);
      }
    }
  }

  .product_rad_container {
    display: flex;
    justify-content: space-around;
    transition: all 0.25s ease;
    width: 100%;
    height: 756px;
    background: #333333;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    @media (min-width: 650px) and (max-width: 1000px) {
      height: 700px;
    }
    @media (min-width: 100px) and (max-width: 650px) {
      height: 360px;
    }
  }
}
.product {
  .container_products {
    position: relative;
    max-width: 1358px;
    border-radius: 12px;
    z-index: 4;
    margin: 0 auto;
    overflow: hidden;
    @media (min-width: 650px) and (max-width: 1400px) {
      margin: 0 20px;
    }
  }
  .product_wrapper {
    position: relative;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #333;
    border-radius: 12px;
    padding: 140px 70px 100px;
    @media (min-width: 650px) and (max-width: 1300px) {
      padding: 80px 20px 60px;
    }
    @media (min-width: 100px) and (max-width: 650px) {
      padding: 20px 10px;
    }
  }
  .product_wrapper img {
    border-radius: 4px;
    margin-bottom: 40px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 32%;
    @media (min-width: 650px) and (max-width: 950px) {
      width: 48%;
      margin-bottom: 30px;
    }
    @media (min-width: 100px) and (max-width: 650px) {
      width: 100%;
      margin: 20px 0 10px;
      border-radius: 6px;
    }
  }
  .product_wrapper img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
