.stack {
  // background-color: #222222;
  background-color: transparent;
  padding-top: 60px;
  padding-bottom: 20px;
  @media (min-width: 0px) and (max-width: 650px) {
    padding-bottom: 60px;
  }
  .container_grey {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: 0px) and (max-width: 650px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .stack_wrapper {
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333333;
    border-radius: 12px;
    padding: 0px 70px;
    @media (min-width: 0px) and (max-width: 650px) {
      display: block;
      padding: 0px 10px;
    }
    @media (min-width: 0px) and (max-width: 650px) {
      img:first-child {
        margin-bottom: 30px;
      }
    }
    img {
      @media (min-width: 0px) and (max-width: 650px) {
        width: 100%;
        max-width: 100%;
      }
    }
    img {
      width: 48%;
      max-width: 48%;
    }
    @media (min-width: 650px) and (max-width: 1220px) {
      img {
        width: 48%;
        max-width: 48%;
      }
      img:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
