.team {
  position: relative;
  z-index: 20;
  // background-color: #222222;
  background-color: transparent;
  padding-top: 60px;
  padding-bottom: 20px;
  @media screen and (max-width: 650px) {
    padding-bottom: 40px;
  }
  .tasks_hr3 {
    width: 0;
    height: 1px;
    background: #ffffff;
    opacity: 0.1;
    margin-bottom: 20px;
  }
  .team_title {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 35px;
    color: #ffffff;
    margin-bottom: 30px;
    margin-left: 15px;
  }
  .team_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media screen and (max-width: 650px) {
      display: none;
    }
  }
  img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
  }
  .team_item__title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 10px;
    @media screen and (max-width: 950px) {
      margin-left: 20px;
    }
  }
  .team_item__desc {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    opacity: 0.6;
  }
  .team_item {
    position: relative;
    z-index: 9;
    width: 25%;
    padding: 15px;
    @media screen and (max-width: 950px) {
      width: 33%;
      padding: 15px;
    }
  }
  .slider {
    display: none;
    @media screen and (max-width: 650px) {
      display: block;
      color: #ffffff;
    }
    @media screen and (max-width: 650px) {
      .team_item_mobile {
        width: 100%;
        padding: 15px;
        text-align: center;
      }
      .slick-dots li button:before {
        color: white;
      }
    }
  }
}
